
.Txt
{
	font-size: 8pt;
	font-family: Verdana, Arial;
	border:1px solid #00496C;
	text-align: left;
    text-transform :uppercase ;
}
.TxtNumeric
{
	font-size: 8pt;
	font-family: Verdana, Arial;
	border:1px solid #00496C;
	text-align: left;
    text-transform :uppercase ;
    text-align:right; 
}

.Texto9pt
{
	font-size: 9pt;
	font-family: Verdana, Arial;
}

.texto8pt
{
	font-size: 8pt;
	font-family: Verdana, Arial;	
}
.texto7pt
{
	font-size: 7pt;
	font-family: Verdana, Arial;
}

BODY
{
	margin: 0px;
	font-family: Verdana, Arial;
	position: absolute;
}
.Inactivo
{
	font-size: 9pt;
	text-transform: uppercase;
	font-family: Verdana, Arial;
	background-color: #e0e0e0;
}

A
{
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #0000ff
}
A:active:unknown
{
    COLOR: #0000ff
}

Table.Marco
{
	border-right: #00496C 1px solid;
	border-top: #00496C 1px solid;
	border-left: #00496C 1px solid;
	border-bottom: #00496C 1px solid;
	font-size: 8pt;
}

Table.Marco_PRPR
{
	border-right: #000099 1px solid;
	border-top: #000099 1px solid;
	border-left: #000099 1px solid;
	border-bottom: #000099 1px solid;
}
.TextoMay
{
	font-size: 9pt;
	text-transform: uppercase;
	font-family: Verdana, Arial;
}
Table.Marco_FNFN
{
	border-right: #FF9966 1px solid;
	border-top: #FF9966 1px solid;
	border-left: #FF9966 1px solid;
	border-bottom: #FF9966 1px solid;
}
Table.Marco_REPO
{
	border-right: #E0E0E0 1px solid;
	border-top: #E0E0E0 1px solid;
	border-left: #E0E0E0 1px solid;
	border-bottom: #E0E0E0 1px solid;
}
Table.Marco_RQRQ
{
	border-right: #00793d 1px solid;
	border-top: #00793d 1px solid;
	border-left: #00793d 1px solid;
	border-bottom: #00793d 1px solid;
}
Table.Marco_APAP
{
	border-right: #cc0033 1px solid;
	border-top: #cc0033 1px solid;
	border-left: #cc0033 1px solid;
	border-bottom: #cc0033 1px solid;
}
Table.Marco_REPO
{
	border-right: #E0E0E0 1px solid;
	border-top: #E0E0E0 1px solid;
	border-left: #E0E0E0 1px solid;
	border-bottom: #E0E0E0 1px solid;
}
