.menustyle {
    font-weight: bold;
    font: 11px Verdana;
    border: solid 1px gray;
    border: solid 1px gray;
    margin: 0px;
    background: #003374;
}
.menuitem 
{
	 font-weight:bold;
	font:11px Verdana;
	border: solid 1px #003374; 
	padding: 3px 15px 3px 15px; 
	margin: 0px; 
	background: #003374; 
	white-space: nowrap; 
	cursor:hand;
}
.mouseover 
{
	font-weight:bold;
	font: 11px Verdana;
	border: solid 1px #003374; 
	padding: 3px 15px 3px 15px; 
	margin: 0px; 
	background: #003374; 
	white-space: nowrap; 
	cursor:hand;
}