/* Default CSS Stylesheet for a new Web Application project */
.Cabecera {
    font-family: Tahoma, Arial Narrow;
    color: #051e46;
    text-align: center;
    font-size: 12px;
    background-color: Transparent;
    font-weight: bold;
}
.Titulo {
    font-family: Tahoma, Arial Narrow;
    font-size: 20px;
    font-weight: bold;
    color: #454545;
    background-color: Transparent;
}
.Titulo1 {
    font-family: Tahoma, Arial Narrow;
    font-size: 16px;
    font-weight: bold;
    color: #454545;
    background-color: Transparent;
    text-align: left;
}
.Etiqueta {
    font-family: Tahoma, Arial Narrow;
    color: #051e46;
    font-size: 12px;
    background-color: Transparent;
    font-weight: bold;
}
.Subtitulo {
    font-family: Tahoma, Arial Narrow;
    text-align: left;
    font-size: 11px;
    color: #0066CC;
    font-weight: bold;
    padding-left: 0px;
}
.Subtitulo1 {
    font-family: Tahoma, Arial Narrow;
    font-size: 11px;
    color: #051e46;
    font-weight: normal;
    padding-left: 0px;
}
.Subtitulo2 {
    font-family: Tahoma, Arial Narrow;
    background-color: #6389AD;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 0px;
}
.Text {
    font-family: Tahoma, Arial Narrow;
    color: #454545;
    font-size: 11px;
    font-weight: normal;
}
.Text1 {
    font-family: Tahoma, Arial Narrow;
    color: #454545;
    font-size: 10px;
    font-weight: normal;
}
.Text2 {
    font-family: Tahoma, Arial Narrow;
    color: #454545;
    font-size: 10px;
    font-weight: bold;
}
.Text3 {
    font-family: Tahoma, Arial Narrow;
    color: #454545;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}

.Text4 {
    font-family: Tahoma, Arial Narrow;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
    font-weight: bold;
}

.Text5 {
    font-family: Tahoma, Arial Narrow;
    color: black;
    font-size: 12px;
    font-weight: normal;
    font-weight: bold;
}

.Leyenda {
    font-family: Tahoma, Arial Narrow;
    color: #051e46;
    font-size: 9px;
    background-color: Transparent;
    font-weight: normal;
}

.ReportTitulo {
    font-family: Tahoma, Arial Narrow;
    color: Black;
    font-size: 17px;
    background-color: Transparent;
    font-weight: normal;
    font-weight: bold;
}
.ReportTabla {
    font-family: Tahoma, Arial Narrow;
    color: Black;
    font-size: 11px;
    background-color: Transparent;
    font-weight: normal;
    font-weight: bold;
}

.Error {
    font-family: Tahoma, Arial Narrow;
    color: Red;
    font-size: 10px;
    font-weight: bold;
}

.td {
    font-family: Tahoma, Arial Narrow;
    color: #454545;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}
.opt {
    font-family: Tahoma, Arial Narrow;
    color: #454545;
    font-weight: bold;
    font-size: 12px;
}
.btn {
    color: #454545;
    font-family: Tahoma, Arial Narrow;
    font-size: 11px;
    padding-right: 5px;
    padding-left: 5px;
    height: 25px;
    width: 80px;
    font-weight: normal;
}
.btn1 {
    font-family: Tahoma, Arial Narrow;
    font-size: 11px;
    height: 22px;
    width: 80px;
}

.input-text {
    font-family: Tahoma, Arial Narrow;
    font-size: 11px;
    border-color: #7d746d;
    border-width: 1px;
}
.cb-text {
    font-size: 11px;
    color: #666666;
    font-family: Tahoma, Arial Narrow;
}
.chk {
    font-size: 9px;
    color: #B50000;
    font-family: Tahoma, Arial Narrow;
}

.alerta {
    color: #847042;
    font: bold 11px Tahoma, Arial Narrow;
}
.otros-links {
    text-align: center;
    color: #2A63B7;
    font-weight: bold;
    font: 11px Tahoma, Arial Narrow;
}
.otros-links2 {
    text-align: center;
    color: #696969;
    font-weight: bold;
    font: 11px Tahoma, Arial Narrow;
}
.otros-links a
{
	color: #2A63B7;
}

.linebottom
{
	padding-left: 10px;
	text-align: left;
	border-bottom: 1px solid #c3beb9;
}

.titu4 {
    font-family: Tahoma, Arial Narrow;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    color: #93102b;
    padding-left: 0px;
}
.titu5 {
    font-family: Tahoma, Arial Narrow;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    color: #00214C;
    padding-left: 10px;
    background-color: #feecb1;
    height: 25px;
}
.titu6 {
    font-family: Tahoma, Arial Narrow;
    text-align: left;
    font: 10px;
    color: #696969;
}
.titu7 {
    font-family: Tahoma, Arial Narrow;
    text-align: left;
    font: 11px;
    color: #696969;
    font-weight: bold;
}
.titu8 {
    font-family: Tahoma, Arial Narrow;
    text-align: left;
    font: 11px;
    color: #696969;
}
.texto1 {
    font-family: Tahoma, Arial Narrow;
    font: 9px;
    color: #696969;
}

.texto2 {
    font-family: Tahoma, Arial Narrow;
    font: 10px;
    color: #696969;
}

.gv {
    font-family: Tahoma, Arial Narrow;
    background-color: #fafafa;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 10px;
    text-align: left;
    vertical-align: middle;
    color: #454545;
}

.gvHeader {
    font-family: Tahoma, Arial Narrow;
    /* background-color: #454545;*/
    background-color: #808080;
    border-color: #dddddd;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 11px;
    vertical-align: middle;
    /*color: White;*/
    color: #ffffff;
}
.gvHeaderReport {
    font-family: Tahoma, Arial Narrow;
    background-color: #454545;
    border-color: #dddddd;
    font-weight: normal;
    border-style: solid;
    border-width: 1px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 11px;
    vertical-align: middle;
    color: White;
}
.gvRow {
    font-family: Tahoma, Arial Narrow;
    background-color: #f0f0f0;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 11px;
    /*TEXT-ALIGN: right;*/
    vertical-align: middle;
    color: #555555;
}
.gvRowAlter {
    font-family: Tahoma, Arial Narrow;
    background-color: #FFFFFF;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 11px;
    /*text-align: left;*/
    vertical-align: middle;
    /*color: #454545;*/
    color: #555555;
}
.gvPager {
    font-family: Tahoma, Arial Narrow;
    background-color: #FFFFFF;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 11px;
    vertical-align: middle;
    color: #454545;
}
.tab-footer {
    background-color: #f0f0f0;
    font-family: Tahoma, Arial Narrow;
}
.tab-active {
    font-family: Tahoma, Arial Narrow;
    font-size: 11px;
    font-weight: bold;
    color: Navy;
    border-top: 0px none #EDECD1;
    border-right: 1px solid #000000;
    border-left: 1px solid #FFFFFF;
    border-bottom: 0px none #EDECD1;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
}

.tab-inactive {
    font-family: Tahoma, Arial Narrow;
    font-size: 11px;
    font-weight: bold;
    color: White;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 0px none #000000;
    background-color: Gray;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
}
a.MenuSelected:link {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: bold;
}
a.MenuSelected:visited {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: #454545;
    font-size: 11px;
    font-weight: bold;
}
a.MenuSelected:hover {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: bold;
}
a.menu:link {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: White;
    font-size: 11px;
    font-weight: bold;
}
a.menu:visited {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: White;
    font-size: 11px;
    font-weight: bold;
}
a.menu:hover {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: #E5D630;
    font-size: 11px;
    font-weight: bold;
}

a.Ayuda:link {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: #454545;
    font-size: 11px;
    font-weight: normal;
}
a.Ayuda:visited {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: #454545;
    font-size: 11px;
    font-weight: normal;
}
a.Ayuda:hover {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: #6389AD;
    font-size: 11px;
    font-weight: normal;
}
a.menuAyuda:link {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    /*color: White;*/
    color: gray;
    font-size: 11px;
    font-weight: normal;
}
a.menuAyuda:visited {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    /*color: White;*/
    color: gray;
    font: bold;
    font-size: 11px;
    font-weight: normal;
}
a.menuAyuda:hover {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: Red;
    font-size: 11px;
    font-weight: normal;
}
a.Header:link {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    /*	color: SteelBlue;*/
    color: white;
    font-weight: bold;
    font-size: 10px;
    font-weight: Bold;
}
a.Header:visited {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: Bold;
}
a.Header:hover {
    font-family: Tahoma, Arial Narrow;
    text-decoration: none;
    color: #E5D630;
    font-size: 10px;
    font-weight: Bold;
}
.tabAyuda-active {
    font-family: Tahoma, Arial Narrow;
    font-size: 10px;
    font-weight: bold;
    /*  color: Navy;*/
    color: black;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    /*background-color: #f0f0f0;*/
    background-color: #E5D630;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.tabAyuda-inactive {
    font-family: Tahoma, Arial Narrow;
    font-size: 10px;
    font-weight: bold;
    /*color: White;*/
    color: red;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background-color: white;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

/*====== cambio iGUAL afi =======*/

.Linea1 {
    font-family: Tahoma, Arial Narrow;
    background-color: #66964D;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 0px;
}


.hr {
    width: 100%;
    height: 10px;
    border: 0;
    background-color: #66964D;
}