<%@ Page Language="vb" AutoEventWireup="false" CodeFile="PDF.aspx.vb" Inherits="PDF" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>PDF</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script language="javascript">	
			function ActivaBoton()
			{			
				if(confirm('Esta seguro de verificar los documentos seleccionados?')== false) return false;
			}	
		</script>
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">			
		</form>
	</body>
</HTML>
