﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Prueba2-Folio.aspx.vb" Inherits="Prueba2_Folio" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
             <div>
            <asp:Button ID="btnProbar" runat="server" Text="Boton1" />
            <asp:Button ID="btnEnviarFirma" runat="server" Text="Boton2" />
            <asp:Button ID="btnregistrar" runat="server" Text="Registrar" />
            <asp:Button ID="Button1" runat="server" Text="Button" />
            <br />
            <asp:Label ID="lblError" runat="server" Font-Bold="True" ForeColor="Red"></asp:Label>
        </div>
    </form>
</body>
</html>
