<%@ Register TagPrefix="uc1" TagName="Footer" Src="UserControls/Footer.ascx" %>
<%@ Register TagPrefix="uc1" TagName="Header" Src="UserControls/Header.ascx" %>
<%@ Page Language="vb" AutoEventWireup="false" CodeFile="Salir.aspx.vb" Inherits="Salir" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Salir</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="francisco_uni@hotmail.com" name="author">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<!--<script language="javascript"> 
			function cerrar() {
				var ventana = window.self;
				ventana.opener = window.self; //onload="javascript:history.forward()"
				ventana.close(); //'setTimeout("cerrar()",5000);'
			}
		</script>
		<script language="javascript">
		function NoAtras(){
		window.history.go(+1);
		}
		</script>-->
	</HEAD>
	<body bottomMargin="0" leftMargin="0" topMargin="0" rightMargin="0" bgColor="#f0f0f0">
		<TABLE id="Table7" cellSpacing="0" cellPadding="0" width="100%" border="0">
			<TR>
				<TD colSpan="2">
					<uc1:Header id="Header1" runat="server"></uc1:Header></TD>
			</TR>
			<TR>
				<TD style="BORDER-RIGHT: #051e46 1px solid" vAlign="top" colSpan="2" height="400"><TABLE id="Table1" cellSpacing="4" cellPadding="0" width="100%" border="0">
						<TR>
							<TD align="center" height="160"></TD>
						</TR>
						<TR>
							<TD align="center"><FONT face="Tahoma" color="#051e46" size="4"><STRONG></STRONG></FONT></TD>
						</TR>
						<TR>
							<TD align="center"><FONT face="Tahoma" color="#051e46" size="2"></FONT></TD>
						</TR>
						<TR>
							<TD height="160"></TD>
						</TR>
					</TABLE>
				</TD>
			</TR>
			<TR>
				<TD colSpan="2">
					<uc1:Footer id="Footer1" runat="server"></uc1:Footer></TD>
			</TR>
		</TABLE>
	</body>
</HTML>
